---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}


Distinguished Lectures
======
  - Honorary lecture, Distinguished Research Fellowship, TU Dresden, Germany 2024. See [here](https://tu-dresden.de/bu/wirtschaft/die-fakultaet/news/auszeichnung-von-associate-professor-bismark-singh-als-distinguished-research-fellow). 
  - Plenary lecture, International Symposium on Current Developments in Fundamental and Applied Mathematics Sciences [Online] 2022. See [here](https://iscdfams.com/iscdfams-2022/).
